* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main::-webkit-scrollbar {
    display: none;

}


main {
    height: 100vh;
    // width: 100%;
    background: linear-gradient(to right bottom, gray, rgb(62, 62, 62), black);
    // margin: auto;
    padding: 1rem 2rem;
    // flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: block;

    .reel-main {
        position: relative;
        max-width: 500px;
        min-height: 100vh;
        width: 100%;
        height: 100vh;
        background-color: black;
        box-shadow: 3px 3px 10px rgb(99, 98, 98);
        margin: 0 auto;
        border-radius: 15px;
        scroll-snap-align: start;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;

        .video {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            border-radius: 15px;
            display: block;
        }

        .dheart {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 90px;
        font-size: 80px;
        opacity: 0;
        z-index: 4;

        background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
         transform: translate(-50%, -50%) scale(0) rotate(-60deg);
        transition: all cubic-bezier(.65, 1, .77, 1.44) 0.4s;

        }

        .mute{
            color:white;
            // background-color:rgb(66, 74, 74);
            font-size:4rem;
            position:absolute;
            z-index:4;
            // border-radius:50%
            // display:block;
            // left:0;
            right:0;
            // bottom:0;
            top:0;


        }


        .profile {
            height: auto;
            position: absolute;
            bottom: 0;
            width: 100%;
            background: transparent;
            // border: 2px solid red;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            color: white;
            padding: 2rem 1rem;
            font-size: 1.4rem;

            .left {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                .photo {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                h4,
                p {
                    font-weight: 700;
                    opacity: 2;
                }

                p {
                    width: 50%;
                }

                .button {
                    border: 2px solid white;
                    background: transparent;
                    padding: 5px 8px;
                    color: white;
                    font-size: 1.3rem;

                }
            }
        }

        .side {
            height: auto;
            width: auto;
            // border:2px solid red;
            position: absolute;
            color: white;
            left: 83%;
            top: 53%;
            bottom: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            font-size: 1.7rem;
            cursor: pointer;
            // pointer-events:auto;

            .side-part {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                // border:2px solid red;
                // pointer-events:auto;

                .ri-heart-3-fill {
                    color: red;
                }
            }


        }
    }
}

@media(max-width:768px) {

    html,
    body {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }

    main {
        padding: 0;
        margin: 0;
        width: 100vw;
        overflow-x: hidden;

        .reel-main {
            height: 100vh;
            width: 100vw;
            max-width: none;
            min-height: 100vh;
            border-radius: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;

            .reel-main .video {
                height: 100vh;
                width: 100vw;
                object-fit: cover;
                border-radius: 0;
                display: block;
            }

        }
    }
}